<html ng-app="CoffeeMate">
<head>
    <meta charset="utf-8">

    <base href="/">

    <title>CoffeeMate</title>

    <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places,weather,geometry,visualization"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-tooltips.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/angular-simple-logger.min.js"></script>
    <script src="/javascripts/angular-cookies.min.js"></script>
    <script src="/javascripts/angular-google-maps.min.js"></script>
    <script src="/javascripts/lodash.js"></script>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>

    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/main_controller.js"></script>
    <script src="/javascripts/controllers/add_controller.js"></script>
    <script src="/javascripts/controllers/coffee_shops_controller.js"></script>
    <script src="/javascripts/controllers/about_controller.js"></script>
    <script src="/javascripts/controllers/contact_controller.js"></script>
    <script src="/javascripts/controllers/register_controller.js"></script>
    <script src="/javascripts/controllers/login_controller.js"></script>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
    <link rel="stylesheet"  href="/stylesheets/angular-tooltips.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-social.css" />

</head>
<body ng-controller="main_controller" ng-style="{ 'font-size' : font_size }">
<script type="text/javascript">
    // VK social network API initialisation
    VK.init({
        apiId: '5377301'
    });
</script>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" ng-style="{ 'font-size' : font_size_app_name }"><i class="fa fa-heart fa-lg"><span class="app-name">CoffeeMate</span></i></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <div class="navbar-right">
                <a href="/register"><button type="button" class="navbar-btn btn-register" ng-style="display_register()">Register</button></a>
                <a href="/login"><button type="button" class="navbar-btn btn-login" ng-style="display_login()">&nbsp;Log In&nbsp;</button></a>
                <button type="button" class="navbar-btn btn-logout" ng-style="display_logout()" ng-click="logout()">Log Out</button>
                <div class="avatar-area">
                    <span>{{username}}</span>
                    <img ng-show="pic" src="{{pic}}"/>
                </div>
            </div>
            <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
            <li ng-if="userLoggedIn()"><a href="/add"><i class="fa fa-plus-circle"></i> Add New Coffee Shop</a></li>
            <li><a href="/shops"><i class="fa fa-coffee"></i> View All Coffee Shops</a></li>
            <li><a href="/about"><i class="fa fa-info"></i> About</a></li>
            <li><a href="/contact"><i class="fa fa-comment"></i> Contact</a></li>
        </ul>
    </div>
</nav>
<div id="main" ng-style="{ 'font-size' : font_size }"><div ng-view></div></div>
<footer class="text-center">
    <span>CoffeeMate by Andrey Shevyakov, 2016</span>
    <div id="font-size-change-area">
        <img class="font-btn font-increase" ng-style="{ 'width' : width, 'height' : height }" src="./images/font_increase.png" ng-click="increaseFont()"/>
        <img class="font-btn font-decrease" ng-style="{ 'width' : width, 'height' : height }" src="./images/font_decrease.png" ng-click="decreaseFont()"/>
    </div>
</footer>
</body>
</html>