#btn-login-vk { margin-left: auto; margin-right: auto; margin-top: 15px; width: 125px; height: 39px;}

.pt5p {padding-top: 5%;}
.pt7p {padding-top: 7%;}
.mp15 {margin-top: 15px;}
.mp20 {margin-top: 20px;}
.mp45 {margin-top: 45px;}
.mp45b {margin-bottom: 45px;}

.jumbotron {
  font-family: "DejaVu Sans", Helvetica, Arial;
  font-size: 130%;
  background-color: #d3c9b5;
}
.msg-block {width: 60%;}
.coffee-img {
  width: 43%;
  height: 35%;
  margin-bottom: 30px;
  /* Shadow generated at http://www.cssmatic.com/box-shadow */
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}
.navbar-nav li a { line-height: normal;}
.navbar .container .navbar-brand {margin-left: -45px; }
.navbar-nav.navbar-right:last-child {margin-right: 0px; }
.navbar-header { margin-right: auto !important; margin-left: -15px !important; }

.navbar-brand i {
  color: burlywood !important;
}
ul.nav li a { color: #ffd39d !important; }
ul.nav li a:hover { color: white !important; }

.app-name { font-family: "Georgia", Arial;
  color: white;
  margin-left: 5px;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
  #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
  #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}

.feedback-s, .menu-upd-suc, .menu-get-pdf { font-size:125%; color:darkgreen; }
.feedback-f, .password-inv, .password-long, .password-short, .name-inv, .name-short, .name-long,
.name-taken, .creds-inv, .loc-inv, .shop-ex, .menu-file-inv, .menu-err-unknown { font-size:125%; color:red; }
.shop-ex {margin-bottom: 15px;}

.jumbotron h1 {font-size: 300%;}
.jumbotron h3 {margin-top: 30px; margin-bottom: 30px;}
.jumbotron h3, .jumbotron .larger { font-size: 150%;}
.btn {font-size: 100%;}
.jumbotron p {font-size: 125%;}
.jumbotron .about-text {font-size: 105%; line-height: 1.5;}
.jumbotron ul {text-align: left; margin-top: 20px;}

#font-size-change-area {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

.font-btn:hover {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.font-increase {cursor: n-resize}
.font-decrease {cursor: s-resize}

/* Generated at http://www.bestcssbuttongenerator.com */
.btn-register, .btn-register:visited {
  -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
  -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
  box-shadow:inset 0px 34px 0px -15px #b54b3a;
  background-color:#a73f2d;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:95%;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
  border: none;
}
.btn-register:hover, .btn-register:active {
  -moz-box-shadow:inset 0px 34px 0px -15px #d7513f;
  -webkit-box-shadow:inset 0px 34px 0px -15px #d7513f;
  box-shadow:inset 0px 34px 0px -15px #d7513f;
  background-color: #c94938;
  font-style: italic;
  border: none;
  color:#ffffff;
}

/* Generated at http://www.bestcssbuttongenerator.com */
.btn-login, .btn-login:visited {
  -moz-box-shadow:inset 0px 34px 0px -15px #7fcd46;
  -webkit-box-shadow:inset 0px 34px 0px -15px #7fcd46;
  box-shadow:inset 0px 34px 0px -15px #7fcd46;
  background-color: #66a73b;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:95%;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
  border: none;
}
.btn-login:hover, .btn-login:active {
  -moz-box-shadow:inset 0px 34px 0px -15px #8ae04d;
  -webkit-box-shadow:inset 0px 34px 0px -15px #8ae04d;
  box-shadow:inset 0px 34px 0px -15px #8ae04d;
  background-color: #72bd42;
  font-style: italic;
  border: none;
  color:#ffffff;
}

/* Generated at http://www.bestcssbuttongenerator.com */
.btn-logout, .btn-logout:visited {
  -moz-box-shadow:inset 0px 34px 0px -15px #cb1e1a;
  -webkit-box-shadow:inset 0px 34px 0px -15px #cb1e1a;
  box-shadow:inset 0px 34px 0px -15px #cb1e1a;
  background-color: #b5200f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:95%;
  font-weight:bold;
  padding:9px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #7a2a1d;
  border: none;
}
.btn-logout:hover, .btn-logout:active {
  -moz-box-shadow:inset 0px 34px 0px -15px #e8201c;
  -webkit-box-shadow:inset 0px 34px 0px -15px #e8201c;
  box-shadow:inset 0px 34px 0px -15px #e8201c;
  background-color: #cf2410;
  font-style: italic;
  border: none;
  color:#ffffff;
}

.angular-google-map-container {
  border: 1px solid black;
  height: 400px;
  margin-bottom: 15px;
  /* Shadow generated at http://www.cssmatic.com/box-shadow */
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}
.gm-iv-address .gm-iv-marker {display: none;}
.gm-iv-address .gm-iv-address-link a {
  position: relative; float: left;margin-top: 5px; color: white;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
  #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
  #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
.gm-iv-address .gm-iv-long-address-description {min-height: 0px; }
.gm-style .ng-scope {margin-top: 1%;}
.gm-iv-container {min-height: 46px !important;}
.gm-iv-container, .gm-iv-address {margin-top: 0px !important;}

.price-cat-select {width: 200px;}

.fa-usd, .col-md-3 span {cursor:default;}
.fa-usd, .fa-star {
  font-weight: bold; color: gold;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
  #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
  #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
.fa-star {cursor: pointer;}
.fa-star-on {opacity: 1;}
.fa-star-off {opacity: 0.5;}

.shop-del, .shop-added {
  color: #a4f22c;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
  #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
  #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
.shop-added {margin-bottom: 45px !important;}

.btn-view {padding: 0 12px;}
.hint {font-size: 75%;}

select {max-width:100%;}

.avatar-area {margin-left: 10px; display: inline-block;}
.avatar-area span {color: white;}
.avatar-area img {
  margin-left: 10px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
