<div class="jumbotron text-center">
    <h1>About</h1>
    <p class="mp20 about-text">
        {{welcoming_msg}}! I hope you are having a great time!<br/>
        In case you are unfamiliar with this website, there are just a few things you need to know:
    </p>
        <ul>
            <li>
                To list the coffee shops, please click
                the "View All Coffee Shops" button at the navigation bar. Here, you can also filter them by county, region, city and price, so that
                you can find the place that fits your geography and wallet.</li>
            <li>
                To add a coffee shop, please click the "Add New Coffee Shop" button at the navigation bar (you have to register first). In case you forgot where the place is,
                don't worry - you have a Google Map at your service. Just click at the location of the shop, type in its name, and here you go!
            </li>
            <li>
                You can upload the menu for the newly created entry. Click the "Upload Menu" button at the shop's page and select the PDF file.
            </li>
            <li>
                You can always remove the coffee shops that you added. Simply go to the shop's page and click the "Delete" button (it's big and red, you will
                not miss it).
            </li>
            <li>
                Should you have any issues with the website, want to report a bug, or just a friendly chat (possibly), click the "Contact" button at the
                navigation bar, fill in the feedback form, and I will contact you as soon as possible.
            </li>
        </ul><br/>
    <p class="about-text">
        That's it! Have fun!<br/><br/>
        Concept by David Drohan, design and development by Andrey Shevyakov, 2016.
    </p>
    <div class="larger mp45">{{loc_num}}</div>

</div>