<div class="jumbotron text-center">
  <div ng-controller="add_controller">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form ng-submit="addCoffeeShop()"
              style="margin-top:30px;">
          <h3>Add New Coffee Shop</h3>
          <div class="form-group" align="center">
            <span>Name:</span>
            <input type="text"
                   class="form-control"
                   placeholder="How's the place called?"
                   ng-model="formData.name"
                   ng-keyUp="nameErr()"/>
          </div>
          <div class="name-inv" ng-show="name_invalid">Invalid name.</div>
          <div class="form-group mp15" align="center">
            <span>Price Category:</span>
            <select ng-model="formData.price_cat"
                    class="form-control price-cat-select"
                    ng-options="option.val as option.name for option in price_categories">
            </select>
          </div>
          <div class="row">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
              <ui-gmap-search-box template="searchbox.template"
                                  events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>
              <ui-gmap-markers models="markers" coords="'self'" options="'options'"
                               events="markers_events"></ui-gmap-markers>
            </ui-gmap-google-map>
          </div>
          <div class="form-group" align="center">
            <span>Country:</span>
            <input type="text"
                   class="form-control"
                   placeholder="Country"
                   ng-model="formData.country" ng-blur="locationTyped(1)" ng-keyup="formEnter(1, $event)"/>
          </div>
          <div class="form-group" align="center">
            <span>Region:</span>
            <input type="text"
                   class="form-control"
                   placeholder="Region"
                   ng-model="formData.region" ng-blur="locationTyped(2)" ng-keyup="formEnter(2, $event)"/>
          </div>
          <div class="form-group" align="center">
            <span>City:</span>
            <input type="text"
                   class="form-control"
                   placeholder="City"
                   ng-model="formData.city" ng-blur="locationTyped(3)" ng-keyup="formEnter(3, $event)"/>
          </div>
          <div class="form-group" align="center">
            <span>Address:</span>
            <input type="text"
                   class="form-control"
                   placeholder="Where's the shop?"
                   ng-model="formData.address" ng-blur="locationTyped(4)" ng-keyup="formEnter(4, $event)"/>
          </div>
          <div class="loc-inv" ng-show="location_invalid">Invalid location.</div>
          <div class="shop-ex" ng-show="shop_exist">You're not the first fan of that place!</div>
          <button type="submit" class="btn btn-primary" ng-disabled="invalidFormOrInProgress()">Here we go!</button>
        </form>
      </div>
    </div>
  </div>
</div>