<div class="jumbotron text-center" ng-switch="req()">
	<h1 ng-if="loading()">Loading...</h1>
	<h1 ng-style="{'margin-top': h_mpt, 'margin-bottom': h_mpb}">{{ hdr }}</h1>
	<h3 class="shop-del" ng-if="shopDeleted()">Coffee Shop "{{del_name}}" at {{del_address}} Was Successfully Deleted!</h3>
	<h3 class="shop-added" ng-if="shopAdded()">Coffee Shop "{{res.name}}" Was Successfully Added!</h3>
	<div class="shops-list" ng-switch-when="ALL" ng-if="loaded()">
		<div class="row mp45 mp45b">
			<div class="col-md-3">
				<span tooltips tooltip-template="<span class='hint'>Only countries with already added coffee shops are displayed.</span>"
					 tooltip-size='small' tooltip-side="top">Country:</span><br/>
				<select ng-model="filter.country" ng-options="option as (option.length > 24 ? (option.substr(0,24) + '...')  : option) for option in unique_countries | orderBy: option"
				ng-change="filterShops(1)"></select>
			</div>
			<div class="col-md-3">
				<span tooltips tooltip-template="<span class='hint'>Only regions with already added coffee shops are displayed.</span>"
					 tooltip-size='small' tooltip-side="top">Region:</span><br/>
				<select ng-model="filter.region" ng-options="option as (option.length > 24 ? (option.substr(0,24) + '...')  : option) for option in unique_regions | orderBy: option"
						ng-change="filterShops(2)"></select>
			</div>
			<div class="col-md-3">
				<span tooltips tooltip-template="<span class='hint'>Only cities with already added coffee shops are displayed.</span>"
					 tooltip-size='small' tooltip-side="top">City:</span><br/>
				<select ng-model="filter.city" ng-options="option as (option.length > 24 ? (option.substr(0,24) + '...')  : option) for option in unique_cities | orderBy: option"
						ng-change="filterShops(3)"></select>
			</div>
			<div class="col-md-3">
				<span>Price Category:</span><br/>
				<select ng-model="filter.price_cat" ng-options="option.val as option.name for option in price_categories "
						ng-change="filterShops(4)">
				</select>
			</div>
		</div>
		<div class="row mp15" ng-repeat="shop in res | orderBy: '-rating'">
			<span ng-style="displayPriceCatRepeat(shop, 1)"><i class="fa fa-usd"></i></span>
			<span ng-style="displayPriceCatRepeat(shop, 2)"><i class="fa fa-usd"></i><i class="fa fa-usd"></i></span>
			<span ng-style="displayPriceCatRepeat(shop, 3)"><i class="fa fa-usd"></i><i class="fa fa-usd"></i><i class="fa fa-usd"></i></span> -
			"{{shop.name | limitTo: 24 }}{{shop.name.length > 24 ? '...' : ''}}" at {{shop.address}}, {{shop.city}},
			{{shop.region}}, {{shop.country}} -
			<i class = 'fa fa-star' ng-style="displayRatingRepeat(shop, 1)"></i>
			<i class = 'fa fa-star' ng-style="displayRatingRepeat(shop, 2)"></i>
			<i class = 'fa fa-star' ng-style="displayRatingRepeat(shop, 3)"></i>
			<i class = 'fa fa-star' ng-style="displayRatingRepeat(shop, 4)"></i>
			<i class = 'fa fa-star' ng-style="displayRatingRepeat(shop, 5)"></i>
			- <a ng-href="/shops/{{shop._id}}" class="btn btn-primary btn-view">View</a></div>
	</div>
	<div ng-if="noShops()">Sorry, Nothing Was Found!</div>
	<div class="row" ng-switch-when="ONE" ng-if="loaded()">
		<div class="col-md-6">
			<p>
				<span>Coffee Shop Name: {{res.name}}</span><br/><br/>
				<span>Price Category:
					<span ng-if="cheap"><i class="fa fa-usd"></i></span>
					<span ng-if="moderate"><i class="fa fa-usd"></i><i class="fa fa-usd"></i></span>
					<span ng-if="expensive"><i class="fa fa-usd"></i><i class="fa fa-usd"></i><i class="fa fa-usd"></i></span>
					<span>({{res.price_cat}})</span>
				</span>
				<br/><br/>
				<span>Located at {{res.full_address}}.</span><br/><br/>
				<span>User Rating:
					<div>
						<i ng-class="getRating(1)" ng-click="updateRating(1)" ng-mouseenter="starHoverIn(1)" ng-mouseleave="starHoverOut()"></i>
						<i ng-class="getRating(2)" ng-click="updateRating(2)" ng-mouseenter="starHoverIn(2)" ng-mouseleave="starHoverOut()"></i>
						<i ng-class="getRating(3)" ng-click="updateRating(3)" ng-mouseenter="starHoverIn(3)" ng-mouseleave="starHoverOut()"></i>
						<i ng-class="getRating(4)" ng-click="updateRating(4)" ng-mouseenter="starHoverIn(4)" ng-mouseleave="starHoverOut()"></i>
						<i ng-class="getRating(5)" ng-click="updateRating(5)" ng-mouseenter="starHoverIn(5)" ng-mouseleave="starHoverOut()"></i>
					</div>
				</span>
			</p>
			<div>
				<a ng-if="owner()" class="btn btn-primary btn-danger mp15" ng-click="deleteShop()" ng-disabled="menuDownloadInProgress">Delete</a>
				<a ng-if="owner()" class="btn btn-primary mp15" ng-click="clickUploadMenu()" ng-disabled="menuUploadInProgress">Upload Menu</a>
				<input style="display:none" id="upload" type="file"
					   fileread="menu_to_upload" accept="application/pdf" />
				<a ng-if="hasMenu()" class="btn btn-primary mp15" ng-click="downloadMenu()"  ng-disabled="menuDownloadInProgress">Download Menu</a>
			</div>
			<div class="mp15 menu-file-inv" ng-show="invalidMenuFile">Invalid file (only PDF is accepted).</div>
			<div class="mp15 menu-err-unknown" ng-show="unknownError">Sorry, something went wrong.</div>
			<div class="mp15 menu-get-pdf" ng-if="menuDownloadInProgress">Generating menu file, please wait...</div>
			<div class="mp15 menu-upd-suc" ng-show="menuUploaded">New menu successfully uploaded.</div>
		</div>
		<div class="col-md-6">
			<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
				<ui-gmap-markers models="markers" coords="'self'"></ui-gmap-markers>
			</ui-gmap-google-map>
		</div>
	</div>
</div>