<div class="jumbotron text-center">
    <h1>Send Feedback</h1>
    <div ng-controller="contact_controller">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="sendFeedback()">
                    <div class="form-group" align="center">
                        <span>E-Mail:</span>
                        <input type="email"
                               class="form-control"
                               placeholder="E-Mail"
                               ng-model="formData.email"/>
                    </div>
                    <div class="form-group" align="center">
                        <span>Feedback:</span>
                        <textarea
                               class="form-control"
                               placeholder="Tell us what you think!"
                               ng-model="formData.feedback"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="invalidForm()">Submit</button>
                </form>
                <div class="feedback-s" ng-show="success_notification">Thank you for your feedback!</div>
                <div class="feedback-f" ng-show="error_notification">Something went wrong.</div>

            </div>
        </div>
    </div>
</div>