<div class="jumbotron text-center">
<div class="row">
    <div class="msg-block center-block">
        <p>
            {{msg}}
        </p>
        <!-- Image license: CC0 -->
        <img class="coffee-img" src="./images/coffee-983955_640.jpg"/>
        <p>
            The world of coffee awaits!
        </p>
    </div>
</div>
</div>