<div class="jumbotron text-center">
    <h1>Log In</h1>
    <div class="container mp45">
        <div class="col-md-5">
            <div class="row pt7p">
                <a class="btn btn-block btn-social btn-facebook btn-lg" ng-click="login_fb()">
                    <i class="fa fa-facebook"></i>
                    Sign in with Facebook
                </a>
            </div>
            <div class="row mp15">
                <a class="btn btn-block btn-social btn-vk btn-lg" ng-click="login_vk()">
                    <i class="fa fa-vk"></i>
                    Sign in with VK
                </a>
            </div>
        </div>
        <div class="col-md-2 larger pt5p">OR</div>
        <div class="col-md-5">
            <form ng-submit="login()">
                <div class="form-group" align="center">
                    <span>Nickname:</span>
                    <input type="text"
                           class="form-control"
                           placeholder="Enter your nickname"
                           ng-model="formData.name"/>
                </div>
                <div class="form-group" align="center">
                    <span>Password:</span>
                    <input type="password"
                           class="form-control"
                           placeholder="Enter your password"
                           ng-model="formData.password"/>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
                <div class="creds-inv" ng-show="creds_invalid">Invalid user credentials.</div>
            </form>
        </div>
    </div>
</div>