<div class="jumbotron text-center">
    <h1>Registration</h1>
    <div ng-controller="register_controller">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form ng-submit="register()">
                    <div class="form-group" align="center">
                        <span>Nickname:</span>
                        <input type="text"
                               class="form-control"
                               placeholder="Enter the desired nickname"
                               ng-model="formData.name"
                               ng-keyUp="nameErr()"/>
                    </div>
                    <div class="form-group" align="center">
                        <span>Password:</span>
                        <input type="password"
                               class="form-control"
                               placeholder="Enter the password"
                               ng-model="formData.password"
                               ng-keyUp="passwordErr()"/>
                    </div>
                    <div class="form-group" align="center">
                        <span>Password confirmation:</span>
                        <input type="password"
                               class="form-control"
                               placeholder="Confirm your password"
                               ng-model="formData.passwordConfirmation"/>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="invalidForm()">Register</button>
                </form>
                <div class="name-taken" ng-show="name_taken">Nickname already taken.</div>
                <div class="name-inv" ng-show="name_invalid">Invalid nickname.</div>
                <div class="name-short" ng-show="name_too_short">Nickname is too short (minimum 2 characters).</div>
                <div class="name-long" ng-show="name_too_long">Nickname is too long (maximum 64 characters).</div>
                <div class="password-inv" ng-show="password_invalid">Invalid password.</div>
                <div class="password-short" ng-show="password_too_short">Password is too short (minimum 6 characters).</div>
                <div class="password-long" ng-show="password_too_long">Password is too long (maximum 64 characters).</div>
            </div>
        </div>
    </div>
</div>